{:paths ["src"]

 :deps {ch.qos.logback/logback-classic {:mvn/version "1.5.18"}
        com.geodesk/geodesk {:mvn/version "1.0.2"}
        org.clojure/clojure {:mvn/version "1.12.0"}
        org.wololo/jts2geojson {:mvn/version "0.18.1"}}

 :aliases
 ;; clj -A:nrepl
 {:nrepl {:extra-deps {nrepl/nrepl {:mvn/version "1.4.0"}
                       cider/cider-nrepl {:mvn/version "0.57.0"}}
          :jvm-opts ["-XX:-OmitStackTraceInFastThrow"
                     "-XX:+UnlockDiagnosticVMOptions"
                     "-XX:+DebugNonSafepoints"
                     "-Djdk.attach.allowAttachSelf"]
          :main-opts ["-m" "nrepl.cmdline"
                      "--port" "7888"
                      "--middleware" "[cider.nrepl/cider-middleware]"]}}}
